################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShantaraProduction/App_Data/Shantara Production IT.mdb
