################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShantaraProduction/App_Data/Shantara Production IT.mdb
/ShantaraProduction/App_Data/Shantara Production IT.ldb
/.vs/ShantaraProduction/v15/Server/sqlite3
/.vs/ShantaraProduction/v15/sqlite3/db.lock
